
.aliniacion {
    display: flex;
    justify-content: space-evenly;
  }

.aliniacion-flex-direccion{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gap {
   display: grid;
   gap: 100px;
}

.grilla{
 display: grid;
 grid-template-columns: 300px 300px 190px; 
 grid-template-rows: 100px 600px 390px;
}

.grilla-3x3{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px,1fr)); 
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
 }


 .pokemon_charizard {
  background-color: orange;
  text-align: center;
  color: rgb(39, 39, 28);
  border-radius: 10px;
 }


 .pokemon_ditto {
  background-color: violet;
  text-align: center;
  color: rgb(41, 41, 31);
  border-radius: 10px;
 }

 .pokemon_eeve {
  background-color: maroon;
  text-align: center;
  color: rgb(31, 31, 25);
  border-radius: 10px;
 }

 .pokemon_golem {
  background-color: rgb(146, 147, 151);
  text-align: center;
  color: rgb(31, 31, 24);
  border-radius: 10px;
 }

 .pokemon_lucario {
  background-color: rgb(11, 28, 177);
  text-align: center;
  color: rgb(31, 31, 28);
  border-radius: 10px;
 }

 .pokemon_mew {
  background-color: rgb(214, 125, 159);
  text-align: center;
  color: rgb(24, 24, 21);
  border-radius: 10px;
 }

 .pokemon_pikachu1 {
  background-color: rgb(247, 211, 9);
  text-align: center;
  color: rgb(11, 27, 17);
  border-radius: 10px;
 }

 .pokemon_rattata {
  background-color: rgb(66, 32, 32);
  text-align: center;
  color: rgb(26, 26, 23);
  border-radius: 10px;
 }

 .pokemon_seedra {
  background-color: rgb(38, 112, 161);
  text-align: center;
  color: rgb(19, 19, 17);
  border-radius: 10px;
 }